@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Saira+Semi+Condensed:wght@300&display=swap');
/*
font-family: 'Caveat', cursive;
font-family: 'Saira Semi Condensed', sans-serif;
*/
/* ------------------------------------------------- Body */
body {
    font-family: 'Saira Semi Condensed', sans-serif;
}

/* ------------------------------------------------- Logo & menu */
#mainNav .navbar-brand {
    color: #fff;
    font-family: 'Caveat', cursive;
    font-size: 3rem;
    letter-spacing: .5rem;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-family: 'Saira Semi Condensed', sans-serif;
    letter-spacing: .5rem;
}

#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: rgb(133,58,90);
}

#logo-span {
    color: rgb(133,58,90);
}

/* ------------------------------------------------- Hero Section */
header.masthead {
    background-image: url(../img/hero-food.jpeg);
    color: transparent;
}

/* ------------------------------------------------- Hero Buttons */
.btn-primary {
    color: rgb(133,58,90);
    background-color: rgba(17, 35, 45, 0.421);
    border: 2px solid rgb(133,58,90);
}

.btn-primary:hover {
    color: rgb(133,58,90);
    background-color: rgba(17, 35, 45);
    border-color: rgb(133,58,90);
    box-shadow: 0 0 20px 0 rgb(133,58,90);
}

.btn-primary:focus,
.btn-primary:active:focus {
    color: rgb(133,58,90);
    background-color: rgba(17, 35, 45);
    border-color: rgb(133,58,90);
    box-shadow: 0 0 20px 0 rgb(133,58,90);
}

.btn-primary:active {
    color: rgb(133,58,90);
    background-color: rgba(17, 35, 45);
    border-color: rgb(133,58,90);
}

/* ------------------------------------------------- About Section */
.fa-inverse {
    color: rgb(133,58,90);
}

.page-section h3.section-subheading,
.page-section .section-subheading.h3 {
    font-family: 'Saira Semi Condensed', sans-serif;
}

mark {
    background-color: rgba(133, 58, 91, 0.486);
    color: rgb(17,35,45);
}

.about {
    font-family: 'Saira Semi Condensed', sans-serif;
    border-bottom: 2px solid rgb(133,58,90);
}

.text-muted {
    color: rgb(17,35,45);
}

h4 {
    font-family: 'Saira Semi Condensed', sans-serif;
}

/* ------------------------------------------------- Explore Section */
.img-fluid {
    height: 60vh;
    width: 100%;
}